dialog {
    position: absolute;
    right: -95%;
    bottom: 0%;
    translate: -50% -50%;
    height: 300px;
    /* width: 300px; */
}

.assistance {
    position: absolute;
    align-items: center;
    text-align: center;
    align-content: center;

    border-radius: 50%;
    overflow: hidden;

    right: 0.2rem;
    bottom: 0.2rem;
}

.close{
    position: relative;
}